DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=terjemahan
MODEL_TTS_INDO_PATH=TTS_Indo
MINANG_TTS_MODEL_PATH=TTS_Minang/best_model.pth
MINANG_TTS_CONFIG_PATH=TTS_Minang/config_Agam.json
MAX_TEXT_LENGTH=1000
FLASK_DEBUG=1
